@font-face {
  font-family: "AvenirBook";
  src: url("./assets/fonts/Avenir-Book.ttf") format("truetype");
}

@font-face {
  font-family: "AvenirBookOblique";
  src: url("./assets/fonts/Avenir-BookOblique.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratRegular";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratMedium";
  src: url("./assets/fonts/Montserrat-Medium.otf") format("opentype");
}
